@CHARSET "UTF-8";

h1, h2, h3 {
	color: #A90707;
}

li {
}

body {
	font-size: 90%;
	background: #F7F7F7; 
}

li a:link, li a:visited {
	background: none;
	font-weight: normal;
	display: block;
	border-bottom: 1px solid #fff;
	padding: .5em 1em;
	color: #A90707;
}

li a:hover {
	background: #fff;
}
